$bg-color: #96f;

body {
  background-color: $bg-color;
}

#board {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

#notifications {
  display: none;
}

.slot {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  font-size: 80px;
  font-weight: bold;
  padding: 25px 0;
}

.player-sign {
  font-size: 100px;
  font-weight: bold;
}

#name-container {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 100%;
}

#error {
  display: none;
}

#name-form {
  position: relative;
  right: 160px;
  width: 400px;
  max-width: 500px;
  background-color: #fff;
}

#closeBtn {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 13px;
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
}

.marker {
  width: 25px;
  height: 25px;
  margin-top: 7px;
  border-radius: 50%;
  background-color: #0F0;
}
